.expform form{
    padding-left: 250px;
    padding-right: 250px
}

.textfield, .input-group-addon{
    margin-top: 25px;
}

.expform form{
    text-transform: capitalize !important;
}

.form-inline h4{
    padding-right: 20px;
}

.expform p{
    text-align: center;
}

.input-group{
    z-index: 0;
}

.button {
    margin-top: 25px;
    border-radius: 0px;
}

@media(max-width: 480px){
    .expform form{
        margin: 0px;
        padding: 0px;
        margin-top:10px;
        margin-bottom: 10px;
    }

    .textfield, .input-group-addon{
        margin-top: 10px;
    }
    
}